:root {
    --grey: grey;
    --white: white;
    --black: black;
    --box: #12193E;
    --background: #0C1027;
    --text: #FDFDFD;
    --heartIcon: #bbc0c9;
    --hoverColor: #eaf2ff;
    --controller-bg: #282828;
    --seek-color: #37E78B;
    --list-box: #1A1E33;
    --list-box-hover: #202439;
    --heartIconActiveColor:red;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: var(--background);
    box-sizing: border-box;
    position: relative;
    font-family: 'Arvo', serif;
    /* overflow-y: hidden; */
    /* background: linear-gradient(90deg, rgba(20, 42, 100, 0.902) 100%, rgba(0,212,255,1) 100%); */
}

body::-webkit-scrollbar {
    display: none;
}

/* --Common-- */
.text-center {
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}

.justify-start {
    margin-right: auto;
}

.ml {
    margin-left: .8rem;
}

.mr {
    margin-right: .25rem;
}

.mt {
    margin-top: .25rem;
}

.mb {
    margin-bottom: .25rem;
}

.mx {
    margin-left: .5rem;
    margin-right: .5rem;
}

.my {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.section {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
    box-sizing: border-box;
}

/* ---Nav--- */
.nav-bar {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
    background-color: var(--background);
    position: sticky;
    top: 0;
    left: 0;
}

.logoTittle {
    margin: 0;
    color: var(--white);
    line-height: 20px;
}

.short-circle {
    height: 4rem;
    width: 4rem;
}

.short-circle a {
    height: inherit;
    width: inherit;
}

.short-circle img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.nav-bar p {
    margin-left: 5px;
    color: var(--text);
    /* width: auto; */
}

.search-container {
    box-shadow: 0 2px 4px 0 rgba(15, 126, 15, 0.23);
    border-radius: 40% 40%;
    justify-items: right;
    background-color: var(--box);
}

.search-box {
    color: var(--text);
    width: 25vw;
    max-width: 310px;
    min-width: 219px;
    background-color: var(--box);
    padding: .7rem;
    padding-left: 0;
    border: 1px solid var(--black);
    border-left: none;
    border-right: none;
    outline: 0 none;
}

.mic-search {
    color: var(--text);
    border: 1px solid var(--black);
    background-color: var(--box);
    margin: 0px;
    padding: .7rem;
    cursor: pointer;
    outline: 0 none;
}

#search-icon {
    border-right: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#mic-icon {
    margin-top: 1px;
    border-left: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* --notification-- */
.notification {
    position: relative;
    justify-items: right;
    color: var(--white);
}

.badge {
    background-color: red;
    columns: var(--white);
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.notification .badge {
    position: absolute;
    top: 5%;
    right: 5%;
}

.main-container {
    width: 97%;
    max-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.left {
    max-width: 70%;
    height: inherit;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: rgb(40, 40, 103); */
    z-index: 5;
    position: relative;
}

.right {
    width: 29%;
    height: inherit;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(32, 32, 77); */
    position: relative;
    z-index: 5;
    margin-left: 8px;
}

.heading {
    color: var(--text);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 4;
}

.heading h1 {
    margin-top: -3px
}

.queue {
    color: var(--seek-color);
    cursor: pointer;
}

.popup {
    /* display: none; */
    height: 6rem;
    width: 12rem;
    background-color: var(--white);
    color: var(--black);
    position: absolute;
    top: 4%;
    right: 2%;
    padding-left: 8px;
    padding-right: 8px;
}

#popup-box {
    display: none;
}

.queue span {
    margin-right: 10px;
}

.popup a {
    text-decoration: none;
    color: var(--black);
}

/* --List-- */
.list-container {
    max-height: inherit;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Hide scrollbar for chrome, opera, safari */
.list-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for firefox */
.list-container {
    scrollbar-width: none;
}

.list {
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}

.lower-line,
.queue-list-icon {
    color: var(--heartIcon);
}

.queue-list-icon {
    margin-left: auto;
    margin-right: 50px;
}

.queueListImg {
    height: 48px;
}

/* --main-left-container-- */
/* hide scrollbar  for chrom,opera,sfari*/
#left-container::-webkit-scrollbar {
    display: none;
}

#right-container::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar  for firefox*/
html {
    scrollbar-width: none;
}

#right-container {
    scrollbar-width: none;
}

#left-container {
    scrollbar-width: none;
    max-height: inherit;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.carousel {
    overflow-x: hidden;
    overflow: hidden;
}

.carousel-inner {
    max-width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.carousel-item {
    margin: 0px 10px;
    animation: carousel 20s infinite;
}

.carousel-item img {
    width: 500px;
    height: 300px;
    transition: transform 0.5s ease;
}

.carousel-item img:hover {
    transform: scale(1.2);
}

/* Add animation to the sliding effect */
@keyframes carousel {
    0% {
        transform: translateX(-100px);
    }

    20% {
        transform: translateX(-420px);
    }

    40% {
        transform: translateX(-840px);
    }

    60% {
        transform: translateX(-1260px);
    }

    80% {
        transform: translateX(-1680px);
    }

    100% {
        transform: translateX(-100px);
    }
}

/* --New Releases-- */
.tittle {
    color: var(--white);
}

.new-releases-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
}

.new-releases-content a {
    color: var(--white);
}

.new-releases-item {
    width: 40%;
    height: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.new-releases-item img {
    width: 70px;
    height: 70px;
}

.time {
    font-size: 10px;
    margin-top: 5px;
}

.new-releases-img-container {
    position: relative;
}

.new-releases-img-container:hover {
    opacity: 0.7;
}
.pause-btn{
    display: none;
    position: absolute;
    top: 39%;
    left: 39%;
}
.release-icon-container {
    position: relative;
}

.popup2 {
    background-color: var(--white);
    color: var(--black);
    display: none;
    flex-direction: column;
    width: 200px;
    border: none;
    height: auto;
    position: absolute;
    top: 45%;
    right: 0%;
    z-index: 5;
}

.popup2:last-child {
    border-bottom: none;
}

.popup2-item {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--heartIcon);
    margin: 0;
    padding-left: 8px;
}

.popup2-item:hover {
    background-color: var(--hoverColor);
}

.popup2 i {
    color: var(--grey);
    margin-right: 14px;
}

.release-icon-container:hover .popup2 {
    display: flex;
}

/* --Artist section-- */
/* hide scrollbar  for chrom,opera,sfari*/
.item-container::-webkit-scrollbar {
    display: none;
}

/* hide scrollbar  for firefox*/
.item-container {
    scrollbar-width: none;
}

.section-container {
    overflow-x: hidden;
}

.item-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: auto;
    margin: 0px 17px;
}

.item:first-of-type {
    margin-left: 0;
}

.item a {
    width: 100%;
    height: 130px;
    color: var(--white);
}

.item p {
    color: var(--text);
}

.item a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item a:hover {
    opacity: .7;
}
.pause-btn2 {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
}
/* stations */
.station {
    max-width: 100%;
    height: auto;
    background-color: var(--box);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 20px;
}

.station-item {
    height: 70px;
    width: 70px;
    margin: 20px 0;
    position: relative;
}

.station-item a {
    height: 100%;
    width: 100%;
}

.station-item span {
    color: var(--white);
    position: absolute;
    top: 40%;
    left: 20%;
}

.station-item a img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.6;
}

.station-item:first-of-type {
    height: 80px;
    width: 80px;
    font-size: 25px;
}

.station-item:first-of-type span {
    top: 30%;
    left: 2%;
}

.station-item:first-of-type a img {
    border-radius: 0;
    opacity: .5;
}

/* --Three Boxes-- */
.three-box {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.box {
    width: 32%;
    height: auto;
    position: relative;
    color: var(--text);
    font-size: 25px;
    overflow: hidden;
}

.box a {
    width: 100%;
    height: auto;
    opacity: .5;
}

.box img {
    width: 100%;
    height: auto;
    transition: all .2s ease-in-out;
    z-index: 2;
}

.box img:hover {
    transform: scale(1.2);
}

.box p {
    position: absolute;
    top: 30%;
    left: 40%;
}

/* --Hindi Latest-- */
.song-horizontal {
    align-items: flex-start;
    /* width: 120px; */
}

.song-horizontal p {
    margin: 5px 0 0 0;
}

.song-horizontal a img {
    border-radius: 0;
    margin-bottom: 0;
}

.last {
    padding-bottom: 60px;
}

.audio-controller {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
    background-color: var(--controller-bg);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
}

#master-player:target {
    display: flex;
}

.audio-controller i:hover {
    color: var(--text);
}

.audio-controller .img-poster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.audio-controller img {
    width: 40px;
    height: 40px;
}

.content{
    width: 130px;
    margin-left: 15px;
    color: var(--white);
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#audioControllerTittle{
    margin-bottom: 0px;
    margin-top: 2px;
}
.audio-controller .left-icon {
    margin: -20px 0 0 0;
}

.audio-controller .icon {
    color: var(--heartIcon);
    outline: none;
    cursor: pointer;
}

.audio-controller .left-icon i:first-child {
    margin-right: 5px;
}

.center-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 40%;
    position: relative;
}

.center-part span {
    display: inline-block;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
    color: var(--white);
}

.center-icon i {
    margin: 20px;
}

.seek-container {
    width: 100%;
    margin-top: -4px;
    position: relative;
    display: flex;
    align-items: center;
}

.audio-controller .bar {
    position: relative;
    width: 90%;
    height: 2px;
    background-color: #404040;
    margin: -2px 15px 0 10px;
}

.audio-controller .bar .bar2 {
    position: absolute;
    left: -9px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--seek-color);
    margin: 0 15px 0 10px;
    transition: 1s linear;
}

.audio-controller .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: -1.5px;
    left: 0;
    background-color: var(--seek-color);
    transition: 1s linear;
}

.audio-controller .bar .dot::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--seek-color);
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px var(--seek-color);
}

.audio-controller .bar input {
    position: absolute;
    width: 100%;
    top: -11px;
    left: -2px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.audio-controller .bar span:last-of-type {
    position: absolute;
    right: 90%;
}

.right-part {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 20%;
    position: relative;
}

.right-part .icon-right {
    margin-left: 10px;
}

.audio-controller .vol {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #404040;
    margin: -2px 15px 0 10px;
}

.audio-controller .vol .volBar {
    position: absolute;
    left: -9px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--seek-color);
    margin: 0 15px 0 10px;
    transition: .1s linear;
}

.audio-controller .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: -1.5px;
    left: 100%;
    background-color: var(--seek-color);
    transition: .1s linear;
}

.audio-controller .vol .dot::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--seek-color);
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px var(--seek-color);
}

.audio-controller .vol input {
    position: absolute;
    width: 100%;
    top: -11px;
    left: -2px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}
@media screen and (max-width: 942px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
        max-height: auto;
        position: relative;
        top:10%
    }
    .left{
        max-width: 100%;
        max-height: auto;
        /* z-index: 10; */
    }
    #left-container{
        width: 100%;
        max-height: auto;
        overflow-y: scroll;
    }

    .right{
        width: 100%;
    }
  }

  /* for favorite icon when active */
  .heartIconActive{
    color: var(--heartIconActiveColor);
}